ISO
Anaconda2-4.3.0-Linux-x86_64.sh
Docker
Haskell/haskell-platform-8.0.2-unknown-posix--minimal-x86_64.tar.gz
Apache/Hadoop/hadoop-2.7.3.tar.gz
Apache/Hadoop/hadoop-2.7.3.tar.gz.asc
Apache/Hadoop/KEYS
Virtualbox/VBoxGuestAdditions_5.1.14.iso
Apache/Spark/scala-2.12.1.tgz 
Apache/Spark/spark-2.1.0-bin-hadoop2.7.tgz
Apache/Spark/spark-2.1.0-bin-hadoop2.7.tgz.asc
Apache/Spark/KEYS 
Apache/Zeppelin/zeppelin-0.7.0-bin-all.tgz 
Apache/Zeppelin/zeppelin-0.7.0-bin-all.tgz 
Apache/Zeppelin/zeppelin-0.7.0-bin-all.tgz.asc
Apache/Zeppelin/KEYS
CUDA/cuda_8.0.61_375.26_linux-run 
CUDA/cudnn-8.0-linux-x64-v5.1.tgz 
Google-Chrome
Eclipse
